<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="container">
  <div class="card-product">
    <div class="card-product-infos">
      <p><%= @restaurant.name %></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.phone_number %></p>
      <%# <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-primary"%>
    </div>
  </div>
    <div class="card-product">
      <div class="card-product-infos">
        <% @restaurant.reviews.each do |r| %>
        <p><%= r.content %></p>
        <% end %>
      </div>
    </div>
  <%= link_to 'Back', restaurants_path %>
  <%= link_to 'Review', new_restaurant_review_path(@restaurant) %>
</div>
